{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
{% load static %}
{% block navbar %}{% endblock %}
<div class="users-reset-password-container">
    <!-- Left Side with Image -->
    <div class="users-reset-password-left">
        <img
            class="users-reset-password-image"
            src="{%  static 'Images/forgetP_backgroundimg.png' %}"
            alt="reset background"
        />
    </div>

    <!-- Right Side with Form -->
    <div class="users-reset-password-right">
        <h1 class="users-reset-password-head">Reset Password!</h1>
        <p class="users-reset-password-para">
            Your new password must be different <br />
            from the previous password.
        </p>
        {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    <p class="text-red-500">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <!-- Form -->
        <form id="reset-password-form" method="post">
            {% csrf_token %}
            <!-- New Password -->
            <div class="password-input-container">
                <input
                    id="new-password"
                    name="new_password"
                    type="password"
                    placeholder="New Password"
                    class="form-control users-reset-password-newpass"
                    required
                />
            </div>

            <!-- Confirm Password -->
            <div class="password-input-container">
                <input
                    id="confirm-password"
                    name="confirm_password"
                    type="password"
                    placeholder="Confirm Password"
                    class="form-control users-reset-password-confirmpass"
                    required
                />
            </div>

            <!-- Submit Button -->
            <div class="d-flex justify-content-center">
                <button
                    id="submit-btn"
                    class="btn btn-dark users-reset-password-btn"
                    type="submit"
                >
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
